html {
    scroll-behavior: smooth;
}

.sectionBanner {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.sectionBanner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
    url('/assets/images/bannerJackDaniels.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
}

.sectionBanner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px; 
    background: linear-gradient(to top,#17171a,  #17171a00); /* Gradiente de opaco para transparente */
    z-index: 1; 
}

.titleBannerJackDaniels {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 60px;
    width: 750px;
}

.titleBannerStart {
    color: #F2E63D;
}

.btnVerPromoções {
    position: relative;
    padding: 10px 20px;
    font-weight: 800;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
    transition: 300ms ease;
}

.btnVerPromoções:hover{
    background-color: rgb(191, 191, 191);
}

.promotionProducts{
 
    background: url('../../public/assets/overlay/quadrados.png');
    background-size:cover;
    height: 600px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products{
    width: 100%;
    background: whitesmoke;
  border-radius: 10px;
  padding: 30px 0;

}

.titlePromotion{
    text-align: center;
    color:white;
    font-size: 40px;
   z-index: 9;
}

.btnShowAllProducts{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    transition: 300ms;
}

.btnShowAllProducts:hover{
    background-color: rgba(255, 255, 255, 0.558);
}
.containerBtnShowAllProducts{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    width: 100%;
    
}

.containerMapa{ 
   display: flex;
   justify-content: center;
   align-items: center;
   background: url('../../public/assets/overlay/quadrados.png');
   background-size:cover;
   height: 600px;
  
}

.containerCard{
    width: 90%;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .titleBannerJackDaniels {
        width: 720px;
    }

    .btnVerPromoções {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .sectionBanner {
        height: 400px;
    }

    .titleBannerJackDaniels {
        font-size: 40px;
        width: 490px;
    }

    .btnVerPromoções {
        font-size: 18px;
        top: 45%;
    }
}

@media (max-width: 530px) {
    .sectionBanner {
        height: 350px;
    }

    .titleBannerJackDaniels {
        font-size: 30px;
        width: 410px;
    }
    .titlePromotion{
        font-size: 30px;
    }

    .btnVerPromoções {
        font-size: 18px;
        top: 47%;
    }
    .btnShowAllProducts{
        font-size: 13px;
    }

}

@media (max-width: 470px) {
    .sectionBanner {
        height: 350px;
    }

    .titleBannerJackDaniels {
        font-size: 26px;
        width: 320px;
    }

    .titlePromotion{
        font-size: 26px;
    }

    .btnVerPromoções {
        font-size: 16px;
        top: 45%;
    }
   
}

@media (max-width: 425px) {
    .sectionBanner {
        height: 350px;
    }

    .titleBannerJackDaniels {
        font-size: 26px;
        width: 320px;
    }

    .titlePromotion{
        font-size: 24px;
    }

    .btnVerPromoções {
        font-size: 14px;
        top: 48%;
    }
}

@media (max-width:340px) {
    .titleBannerJackDaniels{
        width: 290px;
        font-size: 24px
    }
}
