
.produtosContainer{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    overflow-x: scroll;
  
}
.cardProdutoContainer{
    background-color: white;
    width:230px;
    height: 410px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h1Footer{
    font-size: 16px;
    
}

.containerImageProduct{
    background: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 30px;
}
.cifraoProduct{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #71717A;
    font-size: 16px;
    font-weight: 200;
}

.imageProduct{
    scale: 0.8;
    object-fit: contain;
    width: 180px;

}

.valueProduct{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
}

.nameProduct{
    font-size: 16px;
    font-weight: 500;
    font-family: "Epilogue";
    margin-bottom: 10px;
 
}



.adultAlert{
    font-size: 11px;
    color: #777780;
    font-weight: 500;
}

.btnAddToCart{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    background: none;
    cursor: pointer;
    transition: 300ms ease;

}

.btnAddToCart:hover{
  
    background-color: black;
    color: white;
}
.btnBuy{
    width: 100%;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #22C55E;
    color: white;
}

.btnBuy:hover{
    background: #115f2e;
}

