.produtosContainer{
    padding: 30px;
    height: 100%;
}
.cardProdutoContainer {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    height: 100%;
    width: 180px;
    
}



.containerImageProduct {
    background-color: #ebebeb;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

.imageProduct {
    object-fit: contain;
    
   
}

.valueProduct {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;

}

.cifraoProduct {
    font-size: 18px;
    color: #888;
    margin-right: 5px;
}

.nameProduct {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.adultAlert {
    font-size: 12px;
    font-weight: 500;
    color: #f44336;
    margin-bottom: 15px;
   
}

.btnAddToCart,
.btnBuy {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.btnAddToCart {
    background-color: #4caf50;
    color: white;
}

.btnAddToCart:hover {
    background-color: #388e3c;
}

.btnBuy {
    background-color: #22c55e;
    color: white;
}

.btnBuy:hover {
    background-color: #115f2e;
}
