*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
}

@font-face {
    font-family: 'Epilogue';
    src: url('/assets/fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Se for uma fonte variável, você pode definir o intervalo de pesos */
    font-style: normal; /* Ou "italic", dependendo do estilo da fonte */
}


.containerHeader{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999999;
}
header{
    background-color: #F2E63D;
    width: 90%;
    height: 80px;
    margin-top: -90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logoQuebrada{
    cursor: pointer;
    margin-top: -30px;
    opacity: 0;
    transition: 600ms ease;
}
.logoQuebrada:hover{
    scale: 1.050;
}
.navList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.navItem:hover{
    scale: 1.050;

}

.navItem{
    cursor: pointer;
    font-weight: 600;
    margin-top: -40px;
    transition: 900ms ;
    opacity: 0;
    font-size: 18px;
    white-space: nowrap;
}
.containerLogin{
    display: flex;
    align-items: center;
    position: relative;
}
.containerInputPesquisa{
    margin-top: -40px;
    transition: 500ms;
    opacity: 0;
    position: relative;
    transition: 500ms ease;
}
.searchImage{
    position: absolute;
    right: 6px;
    top: 4px;
    opacity: 0.5;
    z-index: 999;
    cursor: pointer;
    transition: 500ms ease;
    
   
   
    
}
.searchImage:hover{
    opacity: 1;
}
.btnEntrarDesktop{
    color: #fff;
    background-color: #000;
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    font-size: 18px;
    height: 33px;
    display: flex;
    align-items: center;
    transition: 500ms ease;
    
}

.linkbtnEntrarDesktop{
    margin-top: -40px;
    opacity: 0;
    transition: 500ms ease;
}
.btnEntrarDesktop:hover{
    scale: 1.050;
}
.carrinhoImage{
    cursor: pointer;
    margin: 10px;
    margin-top: -40px;
    opacity: 0;
    transition: 500ms ease;
}
.carrinhoImage:hover{
    scale: 1.050;
}

#inputPesquisa{
    height: 33px;
    padding: 15px;
    padding-right: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 700ms;
}
.menuBurguer{
    display: none;
    cursor: pointer;
}

.navMobile{
    display: none;
    
   
}

.navMobile ul li{
    list-style-type: none;
    
}

.navListMobile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
 

}

.navItemMobile.active{
    background: #ffffff66;
    border-left: solid black 5px;
    
}

.navItemMobile.active:hover{
    padding-left: 40px;
}
.containerNavigation{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-weight: 600;
    width: 100%;

   
 
}
.containerNavigation a {
    width: 100%;
    height: 60px;
    padding-left: 700px;
    display: flex;
    align-items: center;
    transition: background-color 300ms ease, border-left 300ms ease, padding-left 800ms cubic-bezier(.165,.84,.44,1);
    white-space: nowrap;


    


    background-color: transparent;
    border-left: solid transparent 5px; 
    font-size: 18px;
    font-weight: 700;

   
}

.containerNavigation a:hover {
    background-color: #ffffff66; 
    border-left: solid black 5px; 
    padding-left: 50px; 
   
}
.navMobile.menuAberto{
    display: flex;
    height: 100%;
    width: 70%;
    background-color: #F2E63D;
    position: fixed;
    right: 0;

    animation: slideInLeftRight 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;   
    z-index: 99999999;
    
}

.clickFora{
    background-color: #2d303866;
    backdrop-filter: blur(1px); 
    width: 100%;
    height: 100vh;
    position: absolute;
   opacity: 0;
   z-index: 99999998;

    
    transition: transform 1s ease;
}



.textMenu{
    text-align: center;
    margin: 30px 0;
    

}

.btnEntrarMobile{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-left: 400px;
    transition: 700ms ease;
    opacity: 0;

}
.linkBtnEntrarMobile{
    width: 90%;
}

.menuClose{
    position: absolute;
    left: 40px;
    top: 55px;
    cursor: pointer;
}
@keyframes slideInLeftRight {
    0% {
      opacity:  1;
      transform: translate(300px); /* Menu começa a 300px à direita */
    }
    100% {
      opacity: 1;
      transform: translate(0); /* Menu chega na posição normal */
    }
  }

  @keyframes slideOutLeftRight {
  
    0% {
      opacity: 1;
      transform: translate(0);
    }

    100% {
        opacity: 0;
        transform: translate(-300px); 
      }
  }


@media screen and (max-width:1200px){
    .navList{
        gap: 34px;
    }
}

@media screen and (max-width:1070px){
    #inputPesquisa{
        display: none;
    }
    .searchImage{
        display: none;
    }
    .navList{
     gap: 25px;
    }
}

@media screen and (max-width:900px){
   .navItem{
    font-size: 16px;
    
   }
   .navList{
    gap: 20px;
   }
}
@media screen and (max-width:768px) {
    .navList{
        display: none;
    }
    .menuBurguer{
        display: block;
    }
    .containerLogin{
        display: none;
        
    }

    
}


@media screen and (max-width:400px) {
  .menuClose{
    left: 25px;
  }
 
}
