*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
}

.containerHeader{
    display: flex;
    justify-content: center;
    width: 100%;
}
header{
    background-color: #F2E63D;
    width: 90%;
    height: 80px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logoQuebrada{
    cursor: pointer;
}
.navList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.navItem{
    cursor: pointer;
    font-weight: 500;
}
.containerLogin{
    display: flex;
    align-items: center;
    position: relative;
}
.searchImage{
    position: absolute;
    right:  160px;
    top: 15px;
    opacity: 0.5;
    z-index: 999;
}
.containerLogin button{
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
}

.carrinhoImage{
    cursor: pointer;
    margin: 10px;
}

#inputPesquisa{
    height: 30px;
    padding: 15px;
    padding-right: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.menuBurguer{
    display: none;
    cursor: pointer;
}

.navMobile{
    display: none;
    
   
}

.navMobile ul li{
    list-style-type: none;
    
}

.navListMobile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;

}

.navItemMobile.active{
    background: #ffffff66;
    border-left: solid black 5px;
    
}

.navItemMobile.active:hover{
    padding-left: 40px;
}
.containerNavigation{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-weight: 600;
    width: 100%;
    transition: 300ms;
   
 
}
.containerNavigation a {
    width: 100%;
    height: 60px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    transition: background-color 300ms ease, border-left 300ms ease, padding-left 300ms ease;
    background-color: transparent;
    border-left: solid transparent 5px; 
}

.containerNavigation a:hover {
    background-color: #ffffff66; 
    border-left: solid black 5px; 
    padding-left: 50px; 
   
}
.navMobile.menuAberto{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #F2E63D;
    position: fixed;
    right: 0;
    animation: slideInLeftRight 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;   
    z-index: 9999;
    
}

.clickFora{
    background-color: #2d303866;
    backdrop-filter: blur(1px); 
    width: 100%;
    height: 100vh;
    position: absolute;
  
  
    
    transition: transform 1s ease;
}



.textMenu{
    text-align: center;
    margin: 30px 0;
    

}

.btnEntrarMobile{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 20px;

}

.menuClose{
    position: absolute;
    left: 40px;
    top: 55px;
    cursor: pointer;
}
@keyframes slideInLeftRight {
    0% {
      opacity:  1;
      transform: translate(300px); /* Menu começa a 300px à direita */
    }
    100% {
      opacity: 1;
      transform: translate(0); /* Menu chega na posição normal */
    }
  }

  @keyframes slideOutLeftRight {
  
    0% {
      opacity: 1;
      transform: translate(0); /* Menu chega na posição normal */
    }

    100% {
        opacity: 0;
        transform: translate(300px); /* Menu começa a 300px à direita */
      }
  }


@media screen and (max-width:1150px){
    .navList{
        gap: 34px;
    }
}

@media screen and (max-width:1000px){
    #inputPesquisa{
        display: none;
    }
    .searchImage{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .navList{
        display: none;
    }
    .menuBurguer{
        display: block;
    }
    .containerLogin{
        display: none;
        
    }
}


@media screen and (max-width:400px) {
  .menuClose{
    left: 25px;
  }
}
